.DS_Store
.bash_history

files/*
!files/blinky
!files/i2c
!files/scripted_flow1       
!files/SpinalTemplateSbt
!files/SimpleSigmaDeltaADC
!files/my_ssd
files/SimpleSigmaDeltaADC/*.json

*.vvp
*.lxt2
*.bin
*.rpt
*.json
